@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf');
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Beaufort';
  src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf');
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-TTF/Spiegel_TT_Regular_Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-TTF/Spiegel_TT_Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-TTF/Spiegel_TT_Bold_Italic.ttf');
  font-weight: bold;
  font-style: italic;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply uppercase tracking-wider;
    font-family: 'Beaufort';
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
  }
  h1 {
    @apply text-6xl tracking-normal;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
    letter-spacing: 0.075em;
  }

  p {
    @apply text-base;
    font-family: 'Spiegel';
    line-height: 1.5;
  }
}

.slideshow-container {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.slide {
  display: none;
  transition: opacity 1s;
}

.fade {
  display: block;
  opacity: 1;
}

button {
  cursor: pointer;
}

button.prev {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

button.next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
@keyframes animate {
  0% {
    transform: translate(-100%);
  }
  50% {
  }
  100% {
    transform: translate(0);
  }
}
@keyframes cerrar-matches {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cerrar-matches {
  animation: cerrar-matches 1s;
}
@keyframes cerrar {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(100%);
  }
}
.cerrar {
  animation: cerrar 1s ease;
}
.animates {
  animation: animate 1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-bg-opacity: 1;
    background-color: rgb(1 10 19 / var(--tw-bg-opacity));
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.imagen-responsive {
  width: 50%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .imagen-responsive {
    width: 55%;
  }
}
